//- apps.jade
extends ../_templates/mainPageTemplate.jade

block username
    span #{pageData.username}

block bodyContent

    div.row
        div.col-md-12
            h1 Applications
            table.table.table-hover
                thead
                    tr
                        th #
                        th App
                        th Package State
                        th App State
                        th Instances
                        th Options
                tbody(id="result")
                    - var n = 1

                    tr
                        td= n++
                        td #{pageData.app.name}
                        td #{pageData.app.package_state}
                        td #{pageData.app.state}
                        td #{pageData.app.running_instances} / #{pageData.app.instances}
                        td 
                            a.btn.btn-default(href="/apps/#{pageData.app.guid}/view", role="button") View
                            span  
                            a.btn.btn-default(href="/apps/#{pageData.app.guid}/upload", role="button") Upload  
                            span 
                            if (pageData.app.state === "STARTED")
                                a.btn.btn-default(href="#", onclick='stopApp(\'#{pageData.app.guid}\'); return false;') Stop
                            else
                                a.btn.btn-default(href="#", onclick='startApp(\'#{pageData.app.guid}\'); return false;') Start
                            span 
                            a.btn.btn-default(href="#", onclick='restageApp(\'#{pageData.app.guid}\'); return false;') Restage
                            span 
                            a.btn.btn-default(href="#", onclick='removeApp(\'#{pageData.app.guid}\',\'#{pageData.app.space_guid}\'); return false;') Remove
                            span 
                            a.btn.btn-default(href="/apps/#{pageData.app.guid}/log", role="button") Log            
                            span 
                            a.btn.btn-default(href="/apps/#{pageData.app.guid}/scale", role="button") Scale    
                    tr
                        td(style="border-top:0px; border-bottom:1px solid #ddd;") &nbsp;                            
                            if pageData.address === ""
                                td(colspan=6, style="border-top:0px; border-bottom:1px solid #ddd;") Not running
                            else
                                td(colspan=6, style="border-top:0px; border-bottom:1px solid #ddd;") 
                                    a(href="#{pageData.address}") #{pageData.address}
            p
                a.btn.btn-primary(href="/spaces/#{pageData.app.space_guid}/apps", role="button")
                    span.glyphicon.glyphicon-arrow-left
                    |  Back
                span 
                a.btn.btn-default(href="/apps/#{pageData.app.guid}", role="button")
                    span.glyphicon.glyphicon-refresh
                    |  Refresh
                
                          
                           


block bodyScripts

    script(type='text/javascript').

        function stopApp(app_guid) {
            //console.log(app_guid);

            var url = "/apps/" + app_guid + "/stop";

            $.ajax({
                url: url,
                type: 'GET',
                contentType: 'application/json'
            }).done(function (data) {
                if (data.error) {
                    alert(data.reason);
                } else {
                    console.log(data);
                    location.reload();
                }
            });

        }

        function startApp(app_guid) {

            var url = "/apps/" + app_guid + "/start";            

            $.ajax({
                url: url,
                type: 'GET',
                contentType: 'application/json'
            }).done(function (data) {
                if (data.error) {
                    alert(data.reason);
                } else {
                    console.log(data);
                    location.reload();
                }
            });

        }

        function restageApp(app_guid) {

            var url = "/apps/" + app_guid + "/restage";            

            $.ajax({
                url: url,
                type: 'GET',
                contentType: 'application/json'
            }).done(function (data) {
                if (data.error) {
                    alert(data.reason);
                } else {
                    console.log(data);
                    location.reload();
                }
            });

        }

        function removeApp(app_guid,space_guid) {

            var r = confirm("Are you sure to remove the app?");
            if (r == false) {
                return true;
            }

            var url = "/apps/" + app_guid + "/remove";

            $.ajax({
                url: url,
                type: 'GET',
                contentType: 'application/json'
            }).done(function (data) {
                if (data.error) {
                    alert(data.reason);
                } else {
                    console.log(data);
                    location.href="/spaces/" + space_guid + "/apps";
                }
            });

        }

        function openApp(app_guid) {

            var url = "/apps/" + app_guid + "/open";

            $.ajax({
                url: url,
                type: 'POST',
                contentType: 'application/json'
            }).done(function (data) {
                if (data.error) {
                    alert(data.reason);
                } else {
                    console.log(data);
                    window.open(data.url, '_blank');
                }
            });

        }

