//- home.jade
extends ./_templates/mainPageTemplate.jade
block username
    span #{pageData.username}

block bodyContent

    div.row
        div.col-md-3

            <!-- Remove p/span-->
            p
                span 

            ul
                - var n = 1
                each org in pageData.data.organizations.resources
                    li #{org.entity.name}

        div.col-md-9
            h1 Welcome #{pageData.username}

            table.table.table-hover
                thead
                    tr
                        th #
                        th Space
                tbody
                    - var n = 1
                    each space in pageData.data.spaces.resources
                        tr
                            td= n++
                            td 
                                a(href="/spaces/#{space.metadata.guid}/apps") #{space.entity.name}                                 
            span 
                strong Memory used: 
            span #{pageData.data.orgMemory.memory_usage_in_mb} Mb.
            h2 Quota
            table.table.table-hover
                thead
                    tr
                        th Concept
                        th Value
                tbody
                    tr
                        td Quota name:
                        td #{pageData.data.orgQuota.entity.name}                    
                    tr
                        td memory limit:
                        td #{pageData.data.orgQuota.entity.memory_limit}
                    tr
                        td total services:
                        td #{pageData.data.orgQuota.entity.total_services}  
                    tr
                        td total routes:
                        td #{pageData.data.orgQuota.entity.total_routes}

               